
@import url("fonts.css");
@import url("font-awesome/css/font-awesome.min.css");


/* ===================================================================
 * preloader - (_preloader-1.scss)
 *
 * ------------------------------------------------------------------- */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #050505;
  z-index: 800;
  height: 100%;
  width: 100%;
}

.no-js #preloader, .oldie #preloader {
  display: none;
}

#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 60px;
  height: 60px;
  margin: -30px 0 0 -30px;
  padding: 0;
}

#loader:before {
  content: "";
  border-top: 6px solid rgba(255, 255, 255, 0.1);
  border-right: 6px solid rgba(255, 255, 255, 0.1);
  border-bottom: 6px solid rgba(255, 255, 255, 0.1);
  border-left: 6px solid #FFFFFF;
  -webkit-animation: load 1.1s infinite linear;
  animation: load 1.1s infinite linear;
  display: block;
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

@-webkit-keyframes load {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* ===================================================================
 * base style
 *
 * ------------------------------------------------------------------- */
html {
  font-size: 10px;
}
@media only screen and (max-width: 1024px) {
  html {
    font-size: 9.375px;
  }
}
@media only screen and (max-width: 768px) {
  html {
    font-size: 10px;
  }
}
@media only screen and (max-width: 400px) {
  html {
    font-size: 9.375px;
  }
}

body {
  background: #151515;
  font-family: "roboto-regular", sans-serif;
  font-size: 1.6rem;
  line-height: 3rem;
  color: #595959;
}

a, a:visited {
  color: #FFFFFF;
  outline: 0;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

a:hover, a:focus {
  color: #034e4a;
}

h1, h3 {
  font-family: "roboto-black", sans-serif;
  color: #FFFFFF;
  font-style: normal;
  text-rendering: optimizeLegibility;
  margin-bottom: 2.1rem;
}

p.lead {
  font-family: "roboto-light", serif;
  font-size: 1.8rem;
  line-height: 1.8;
  color: #595959;
}
@media only screen and (max-width: 768px) {
  p.lead {
    font-size: 1.7rem;
  }
}

.bgrid {
  padding: 0 20px;
}
@media only screen and (max-width: 1024px) {
  .bgrid {
    padding: 0 18px;
  }
}
@media only screen and (max-width: 768px) {
  .bgrid {
    padding: 0 15px;
  }
}
@media only screen and (max-width: 600px) {
  .bgrid {
    padding: 0 10px;
  }
}
@media only screen and (max-width: 400px) {
  .bgrid {
    padding: 0;
  }
}

/* ===================================================================
 * layout style
 *
 * ------------------------------------------------------------------- */
 
/* -------------------------------------------------------------------
 * header
 * ------------------------------------------------------------------- */
header {
  text-align: center;
  padding: 6.6rem 0 4.8rem;
  margin-bottom: 6.6rem;
  position: relative;
}
header::after {
  content: "";
  width: 150px;
  height: 3px;
  background: rgba(255, 255, 255, 0.2);
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
header .row {
  max-width: 880px;
}
@media only screen and (max-width: 1024px) {
  header .row {
    max-width: 700px;
  }
}
header h1 {
  font-size: 5.2rem;
  line-height: 1.385;
  letter-spacing: -.1rem;
}
header h1 span {
  color: #034e4a;
}
@media only screen and (max-width: 600px) {
  header h1 {
    font-size: 4rem;
    letter-spacing: -.07rem;
  }
}

/* ------------------------------------------------------------------- 
 * main
 * ------------------------------------------------------------------- */
main {
  text-align: center;
  padding-bottom: 6rem;
}
main .bgrid {
  margin-bottom: 15px;
}
main .image-part {
  position: relative;
  overflow: hidden;
}
main .image-part img {
  vertical-align: bottom;
}
main .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #034e4a;
  opacity: 0;
  -moz-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  -webkit-transition: opacity 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}
main .link-icon {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -25px;
  margin-top: -25px;
  height: 50px;
  width: 50px;
  font-size: 12px;
  opacity: 0;
  -moz-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  -webkit-transition: opacity 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}
main .demo-title {
  padding-top: 2.7rem;
}
main .demo-title h3 {
  font-size: 1.9rem;
  line-height: 1.5;
  margin-bottom: 1.8rem;
  color: white;
}
main .bgrid a:hover .overlay {
  opacity: .8;
}
main .bgrid a:hover .link-icon {
  opacity: 1;
  color: #FFFFFF;
}
main .bgrid a:hover .demo-title h3 {
  color: #FFFFFF;
}
